<% article = @article %>
        <h2 class="mid_header">
            <%= article.title %>
        </h2>
    
        <p>
            <%= image_tag(article.image, size: "300x200") %>
        </p>    
        <p class="mainText" >
            <%= article.mainText %>
        </p>
    
        <p class="tags">
            tags: <%= article.tag1 %>, <%= article.tag2 %>, <%= article.tag3 %>
        </p>
    
