<html lang = "en">

<head>
</head>

<body>
	<title >
		Game Revs
	</title>

	<div style >	
	<%= link_to "<button>Login/Sign-Up</button>".html_safe, new_account_path, :id=>"", :class=>"buttons" %>
	
	</div>
	
	<!-- Wrapper for the headers -->
	
	 <div style = "clear:both;">
		<h2 class="mid_header" style ="float:right; margin-right: 310px;">
		Articles
		</h2>
	
		<h3 class="mid_header" style = "float:left; margin-left: 308px;">
		Reviews
		<br/>
		</h3>
	</div>
	
	
	<!-- Wrapper for the buttons -->
	 <div style = "clear:both;">
		
		
		<%= link_to "<button>All Reviews </button>".html_safe, accounts_path(:content => "Reviews"), :id=>"allRevButton", :class=>"buttons" %>
		
		
		<%= link_to "<button>All Articles </button>".html_safe, accounts_path(:content => "Articles"), :id=>"allArtButton", :class=>"buttons" %>
		
		
	</div>
	<!--- Wrapper for the list of articles and reviews -->
	<div class="lists_top" style = "clear:both">
		<p1 class="list_trending" id = "articles_list" >
		Trending Articles
		<table>
            	<tr>
            		<th>Title</th>
		</tr>
		
		
		 
            
        
        <!---loop through articles to create hash -->
       
       
            <% @articles = Article.order(:created_at) %>
            <% counter = 0 %>
             <% @articles.each do |article| %>
             <tr>
             	<% if counter < 10 %>
             	<% @accounts = Account.where(id: article.account_id).take %>
             
             	<%  account_id = @accounts.id %>
             	
           <td> <%= article.title %> </td>
            <td><%= link_to 'Show', account_article_path(account_id, @accounts.articles, article.id) %></td>
            	<% counter= counter +1 %>
            	<% else %>
            	<% break %>
            	<% end%>
            
            </tr>
            <% end%>
		 
		 </table> 
		</p1>

		<p2 class="list_trending" id ="reviews_list" style = "float:left;"  >
		Trending Reviews
		
			<table>
			<tr  >
            		<th>Title</th>
		</tr>
            	<tr>
            		 <% @reviews = Review.order(:created_at) %>
            <% counter = 0 %>
             <% @reviews.each do |review| %>
             <tr>
             	<% if counter < 10 %>
             	<% @accounts = Account.where(id: review.account_id).take %>
             
             	<%  account_id = @accounts.id %>
             	
           <td> <%= review.title %> </td>
            <td><%= link_to 'Show', account_review_path(account_id, @accounts.reviews, review.id) %></td>
            	<% counter= counter +1 %>
            	<% else %>
            	<% break %>
            	<% end%>
            
            </tr>
            <% end%>

		 </table> 
		
		</p2>
	

		</p1>
	
	</div>
	
</body>