<html lang = "en">

<head>
</head>

<body>
	<title >
		Game Revs
	</title>

	<div style >	
	<%= link_to "<button>Login/Sign-Up</button>".html_safe, new_account_path, :id=>"", :class=>"buttons" %>
	
	</div>
	
	<!-- Wrapper for the headers -->
	
	 <div style = "clear:both;">
		<h2 class="mid_header" style ="float:right; margin-right: 273px;">
		Articles
		</h2>
	
		<h3 class="mid_header" style = "float:left; margin-left: 273px;">
		Reviews
		<br/>
		</h3>
	</div>
	
	
	<!-- Wrapper for the buttons -->
	 <div style = "clear:both;">
		
		
		<%= link_to "<button>All Reviews </button>".html_safe, accounts_path, :id=>"allRevButton", :class=>"buttons" %>
		
		
		<%= link_to "<button>All Articles </button>".html_safe, accounts_path, :id=>"allArtButton", :class=>"buttons" %>
		
		
	</div>
	<!--- Wrapper for the list of articles and reviews -->
	<div class="lists_top" style = "clear:both">
		<p1 class="list_trending" id = "articles_list" >
		Top 5 Articles
		<table>
            	<tr>
            		<th>Title</th>
		</tr>
		<% arthash = Hash.new %>
		
		 <% @account.each do |account| %>
		 
            <%  @account_id = account.id %>
        
        <!---loop through articles to create hash -->
       
       <% @articles= Article.where(account_id: @account_id) %>
            
             <% @articles.each do |article| %>
             <tr>
             	<% arthash[@article_id] = @article %>
             	
           <td> <%= article.title %> </td>
            <td><%= link_to 'Show', account_article_path(account.id, account.articles, article.id) %></td>
            </tr>
		<% end %>
          
            <!---loop through articles to create hash -->
            
 
            
            
		<% end %>
		 </table> 
		</p1>

		<p2 class="list_trending" id ="reviews_list" style = "float:left;"  >
		Top 5 Reviews
		
			<table>
            	<tr>
            		<th>Title</th>
		</tr>
		
		 <% @account.each do |account| %>
            <%  @account_id = account.id %>
        
       <% @review= Review.where(account_id: @account_id) %>
            
             <% @review.each do |review| %>
             <tr>
           <td> <%= review.title %> </td> 
           <td> <%= review.rating.to_s %> </td>
            <td><%= link_to 'Show', account_article_path(account.id, account.reviews, review.id) %></td>
            </tr>
		<% end %>
          
            
		<% end %>
		 </table> 
		
		</p2>
	

		</p1>
	
	</div>
	
</body>