<%review = @review %>
    
        <h2 class="mid_header">
            <%= review.title %>
        </h2>
    
        <p>
            <%= image_tag(review.image, size: "300x200") %>
        </p>    
        <p class="rating">
            <%= review.rating.to_s %>/5.0
        </p>
        <p class="mainText" >
            <%= review.mainText %>
        </p>
    
        <p class="tags">
            tags: <%= review.tag1 %>, <%= review.tag2 %>, <%= review.tag3 %>
        </p>
    

