<%= form_for @account do |f| %>
<h3 class = "mid_header">Choose a username and password</h3>
<% flash.each do |key, value| %>
    <p class="notice notice-<%= key %>"><%= value %></p>
<% end %>
<p>
    <%= f.label :userName %><br>
    <%= f.text_field :userName %>
</p>
<p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
</p>
<p>
    <%= f.submit "Login or Create Account"%>
</p>



<% end %>