<h1>Name of user</h1>

<body>
     <div>
	
	<%= link_to "<button>Create Review</button>".html_safe, new_account_review_path(@account), :id=>"" ,:class=>"buttons" %>	
	</div>

    <div>
	
	<%= link_to "<button>Create Article</button>".html_safe, new_account_article_path(@account), :id=>"" ,:class=>"buttons" %>	
	</div>

	<p>
				
      My Articles:
    <% @articles.each do |article| %>
            <%= article.title %>
            <td><%= link_to 'Show', account_article_path(@account.id, @account.articles, article.id) %></td>
            
	<% end %>
	
	   My Reviews:
    <% @reviews.each do |review| %>
            <%= review.title %>
            <td><%= link_to 'Show', account_review_path(@account.id, @account.reviews, review.id) %></td>
            
	<% end %>

	
       
	 
	</p>




</body>